/* Give body base properties */
body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    background-color: burlywood;
    padding: 2.5%;
    margin: 2.5%;
}

/* Make scrolling smoother transition */
html {
    scroll-behavior: smooth;
}

nav ul {
    text-align: right;
    list-style: none;
    background-color: darkgoldenrod;
    height: 5%;
}

nav li {
    display: inline-block;
    margin: 2.5%;
}

h1, h2 {
    text-transform: uppercase;
}

h1 {
    text-align: center;
    background-color: black;
    color: antiquewhite;
    padding: 2.5%;
}

h4 {
    text-align: end;
    text-transform: uppercase;
}
/* Code taken from tutorial to introduce hover feature */
nav a:hover {
    background-color: black;
    color: darkgoldenrod;
}

nav a {
    color: black;
    display: block;
}

.about-jurgen {
    background-color: darkred;
    padding: 2%;
    color: white;
}


.w80 {
    width: 50%;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}
/* Code taken from doe institute template to fix footer at bottom */
footer {
	background-color: darkgoldenrod;
    text-align: center;
    padding: 1em;
    height: 7.5%;
    width: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
	z-index: 3;
    text-transform: uppercase;
}
/* Form properties */
form {
    color: black;
	text-decoration:solid;
	font-size: 1rem }

 #talking-with-klopp {
    padding-left: 80%;
 }   

    input[type=text], 
    input[type=email]{
        height: 15px;
        width: 10%;
        margin: 0 auto;}
/* Media queries */
        @media screen and (min-width: 980px) {

            footer {
                height: 8.5%;
            }
            
              }
       