body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    background-color: burlywood;
    padding: 2.5%;
    margin: 2.5%;
}

html {
    scroll-behavior: smooth;
}

nav ul {
    text-align: right;
    list-style: none;
    background-color: darkgoldenrod;
    height: 5%;
}

nav li {
    display: inline-block;
    margin: 2.5%;
}

h1, h2 {
    text-transform: uppercase;
}

h1 {
    text-align: center;
    background-color: black;
    color: antiquewhite;
    padding: 2.5%;
}

h4 {
    text-align: end;
    text-transform: uppercase;
}

nav a:hover {
    background-color: black;
    color: darkgoldenrod;
}

nav a {
    color: black;
    display: block;
}

.about-jurgen {
    background-color: darkred;
    padding: 2%;
    color: white;
}





img {
    width: 15%;
    height: 15%;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}





footer {
	background-color: darkgoldenrod;
    text-align: center;
	padding: 1em;
    height: 8.5%;
    width: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
	z-index: 3;
}

@media screen and (min-width: 980px) {
    
}